.topbt {
  width: 1200px;
  margin: 0 auto;


  img {
    width: 700px;
    padding: 20px 0 10px 10px;

  }

}

.main {
  width: 100%;
  overflow: hidden;

  .container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 750px;

    #bkgImg {
      position: absolute;
      left: -400px;
    }
  }
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs28 {
  font-size: 28px;
}